.git
.gitignore
.pytest_cache
.ruff_cache
.mypy_cache
.tox
.uv
.venv
venv
env

__pycache__
*.py[cod]
*.so

.coverage
htmlcov
build
dist
*.egg-info
*.egg

.env
.env.*
!.env.example

.DS_Store
.idea
.vscode
*.swp

clients/
docs/
tests/
